* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.clearfix {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#top {
    background-color: #3e9ac6;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#top>#logo>img {
    margin: 8px 10px;
}

#top>#menu {
    margin: 4px auto;
    width: 470px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    line-height: 0.2px;
    box-sizing: border-box;
}

li a:hover {
    color: gainsboro;
    border-bottom: 1px dashed gainsboro;

}

#top>#logo>#icon {
    background-color: rgba(34, 46, 58, 0.5);
    height: 320px;
    width: 280px;
    float: right;
    margin-top: 120px;
    color: white;
}

#top>#logo>#icon>h4 {
    margin-top: 15px;
    text-align: center
}

#top>#logo>#icon>form {
    margin-top: 25px;
    font-size: 14px;
}

#top>#logo>#icon>form>input {
    margin-bottom: 20px;
}

#top>#logo>#icon>form>select,
option {
    color: grey
}

input[type=submit] {
    background-color: #0d6d99;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 30px;
    width: 280px;
    cursor: pointer;
    text-align: center;
}

#menu {
    background-color: #0d6d99;
    width: 100%;
    height: 40px;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);

}

#middle>#skipper {
    background: #3e9ac6 url(../images/skipper.jpg) no-repeat center center;
    height: 320px;
    background-size: cover;
}

#boxes {
    width: 1000px;
    margin: 0 auto;
}

#box1 {
    display: inline-block;
    background-image: url(../images/gulet.jpg);
    background-size: cover;
    margin: 30px 5px;
    width: 235px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 5%
}

#box1:hover{
    background-image: url(../images/gulet.jpg);    
    opacity: 0.5;    
    }

#box2 {
    display: inline-block;
    background-image: url(../images/boat2.jpg);
    background-size: cover;
    margin: 30px 5px;
    width: 235px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 5%
}

#box2:hover{
background-image: url(../images/boat2.jpg);    
opacity: 0.5;    
}
#box3 {
    display: inline-block;
    background-image: url(../images/boat.jpg);
    background-size: cover;
    margin: 30px 5px;
    width: 235px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 5%
}

#box3:hover{
    background-image: url(../images/boat.jpg);    
    opacity: 0.5;    
    }

#box4 {
    display: inline-block;
    background-image: url(../images/sea.jpg);
    background-size: cover;
    margin: 30px 5px;
    width: 235px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 5%
}

#box4:hover{
    background-image: url(../images/sea.jpg);    
    opacity: 0.5;    
    }
